.to-do-list {
  ul {
    @apply text-2xl mx-auto pt-12;
    width: 70%;

    li {
      @apply my-4;
      span {
        @apply pl-4;
      }

      .todo-delete {
        @apply text-sm border-2 px-4 py-1 rounded-xl ml-4 text-white bg-red-700 border-none;
      }
      .todo-delete:hover {
        cursor: pointer;
        @apply bg-red-400;
      }

      .completed {
        text-decoration: line-through;
      }
    }
  }

  p.fetch-error {
    @apply text-center text-red-400 uppercase font-bold;
  }
}
